<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/msgadd" method="POST">
    <input type="text" name="msgbox01" id="msgbox01">
    <input type="hidden" name="name01" id="name01" value="01">
    <input type="submit">
    <script>
        var crnturl = window.location.href;
        var urlval = crnturl.split('/')[1,3];
        console.log(crnturl);
        document.getElementById("name01").value = urlval;
    </script>
    <p><%= shittoprint %></p>
    </form>
</body>
</html>